.icon {
  background-image: url("assets/images/atplus_white.png");
  background-color: rgba(56, 56, 56, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: fixed;
  top: 80%;
  left: 49%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#button:hover .icon {
  background-image: url("assets/images/atplus_green.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(48, 63, 159, 1);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: fixed;
  top: 75%;
  left: 47%;
}

#control-ring {
  list-style: none;
}

#control-ring li {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.button {
  position: fixed;
  left: 49%;
  top: 80%;
  background-color: rgba(56, 56, 56, 0.8);
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
}

.mask {
  background-image: url("assets/images/mask.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

#button:hover .mask {
  opacity: 1;
  -ms-transform: translate(-60px,-60px); /* IE 9 */
  -webkit-transform: translate(-60px,-60px); /* Chrome, Safari, Opera */
  transform: translate(-60px,-60px);
}

.history {
  background-image: url("assets/images/history.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

#button:hover .history {
  opacity: 1;
  -ms-transform: translate(-80px,-20px); /* IE 9 */
  -webkit-transform: translate(-80px,-20px); /* Chrome, Safari, Opera */
  transform: translate(-80px,-20px);
}

.message {
  background-image: url("assets/images/message.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

#button:hover .message .unread {
  position: relative;
  background-color: rgba(200, 0, 0, 0.8);
  font-size: 16px;
  font-weight: bold;
  color: white;
  left: 26px;
  bottom: 6px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

#button:hover .message {
  opacity: 1;
  -ms-transform: translate(-70px,20px); /* IE 9 */
  -webkit-transform: translate(-70px,20px); /* Chrome, Safari, Opera */
  transform: translate(-70px,20px);
}

.setting {
  background-image: url("assets/images/setting.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

#button:hover .setting {
  opacity: 1;
  -ms-transform: translate(-40px,-50px); /* IE 9 */
  -webkit-transform: translate(-40px,-50px); /* Chrome, Safari, Opera */
  transform: translate(-40px,50px);
}

.sign {
  background-image: url("assets/images/signin.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

#button:hover .sign {
  opacity: 1;
  -ms-transform: translate(0px,60px); /* IE 9 */
  -webkit-transform: translate(0px,60px); /* Chrome, Safari, Opera */
  transform: translate(0px,60px);
}

.info {
  opacity: 0;
  position: fixed;
  top: 75%;
  left: 45%;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background-color: rgba(56, 56, 56, 0.8);
  -ms-transform: scale(0.1,0.1); /* IE 9 */
  -webkit-transform: scale(0.1,0.1); /* Chrome, Safari, Opera */
  transform: scale(0.1,0.1);
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
}

#button:hover .info {
  opacity: 1;
  -ms-transform: translate(10px,-130px); /* IE 9 */
  -webkit-transform: translate(10px,-130px); /* Chrome, Safari, Opera */
  transform: translate(10px,-130px);
}

.info ul {
    list-style: none;
}

.user {
  position: absolute;
  top:10%;
  left: 35%;
}

.user span {
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

.comment {
  position: absolute;
  top:33%;
  left: 30%;
}

.comment span {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
}

.posted {
  position: absolute;
  top:65%;
  left: 22%;
}

.posted span {
  font-size: 16px;
  font-weight: bold;
  color: #079E6E;
  position: relative;
  bottom: 3px;
  left: 2px;
}

.like {
  position: absolute;
  top:65%;
  left: 55%;
}

.like span {
  font-size: 16px;
  font-weight: bold;
  color: #079E6E;
  position: relative;
  bottom: 5px;
  left: 3px;
}